<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - BlockBook</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script>  
        const userphoto = "<%= user.photo %>";
        const usernama = "<%= user.name %>";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body id="top">

<div id="headeradmin"></div>

<main class="admin-dashboard">
    <div class="container" style="padding-top: 150px; padding-bottom: 150px;">
        <h1 style="text-align: center; padding-bottom: 25px;">Welcome Admin <%= user.name %> </h1>

        <div class="table-container">
            <h3>Barang Terjual</h3>
            <table id="salesTable">
                <thead>
                    <tr>
                        <th>Nama Barang</th>
                        <th>Jumlah Terjual</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be populated here -->
                </tbody>
            </table>
        </div>

        <div class="chart-container">
            <h3>Grafik Penjualan</h3>
            <canvas id="salesChart"></canvas>
        </div>

    </div>
</main>

<div id="footeradmin"></div>
  
<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>

<script src="/js/scriptadmin.js" defer></script>
<script src="/js/scriptheaderfooter.js" defer></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
